@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

::placeholder{
  opacity: 0.3;
}
#signup{
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: #c2bdbd 0px 0px 10px 0px;
  border-radius: 10px;
  margin: auto;
}

body>div{
  width: 130px;
  margin: auto;
}

#signup>h3,#signup>p{
  text-align: center;
}

#signup>input{
  margin: 5px 10px 20px 0px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  border: solid 1px #b1b1b1;
  border-radius: 3px;
}
#signup>label{
  margin: 0px;
}
#submit,#login{
  background-color: #42b8fd;
}
#submit:hover,#login:hover{
  background-color: #49d85c;
}
